# Include your project-specific ignores in this file
**homeworkkey.md
**homeworkkey.pdf
**homework3key.Rmd
**homework3key.pdf
**homework4key.Rmd
**homework4key.pdf
**homework5key.Rmd
**homework5key.pdf
**homework6key.Rmd
**homework6key.pdf
**.Rhistory